.loader-sub {
  border: 2px solid blue;
  border-radius: 50%;
  width: 50%;
  height: 40vh;
  margin: auto;
}
.loader-sub-1 {
  border: 2px solid rgb(32, 32, 170);
  border-radius: 50%;
  width: 40%;
  height: 30vh;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .breadcrumb {
    background-color: black !important;
  }
  .toast-m {
    right: 20% !important;
  }
  .alert-media {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .cus-w {
    max-width: 100% !important;
    padding-right: 5rem !important;
    background-color: black !important;
  }
}
